# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.idea

# Env
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Project
books/
*.pdf
*.epub
app/rag/eval/eval_results.json
data/rag.db
app/data/rag.db
data/rag.db